<h1>Listing diagnostics</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">

  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostics.each do |diagnostic| %>
      <tr>
        <td><%= diagnostic.code %></td>
        <td><%= diagnostic.description %></td>
        <td><%= diagnostic.fee %></td>
        <td><%= link_to 'Show', diagnostic, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_diagnostic_path(diagnostic), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', diagnostic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  </div>
<br>

<%= link_to 'New Diagnostic', new_diagnostic_path %>
