<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @diagnostic.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diagnostic.description %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @diagnostic.fee %>
</p>

<%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
<%= link_to 'Back', diagnostics_path %>
