<h1>Listing insurances</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insurances.each do |insurance| %>
      <tr>
        <td><%= insurance.name %></td>
        <td><%= insurance.street_address %></td>
        <td><%= insurance.city %></td>
        <td><%= insurance.state %></td>
        <td><%= insurance.zip_code %></td>
        <td><%= insurance.phone %></td>
        <td><%= link_to 'Show', insurance, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_insurance_path(insurance), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', insurance, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  </div>
<br>

<%= link_to 'New Insurance', new_insurance_path %>
