<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @insurance.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @insurance.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @insurance.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @insurance.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @insurance.zip_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @insurance.phone %>
</p>

<%= link_to 'Edit', edit_insurance_path(@insurance) %> |
<%= link_to 'Back', insurances_path %>
