<h1>Listing physicians</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.first_name %></td>
        <td><%= physician.last_name %></td>
        <td><%= physician.street_address %></td>
        <td><%= physician.city %></td>
        <td><%= physician.state %></td>
        <td><%= physician.zip_code %></td>
        <td><%= physician.email %></td>
        <td><%= physician.phone %></td>
        <td><%= link_to 'Show', physician, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_physician_path(physician), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', physician, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  </div>
<br>

<%= link_to 'New Physician', new_physician_path %>
