<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @physician.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @physician.last_name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @physician.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @physician.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @physician.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @physician.zip_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @physician.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @physician.phone %>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
