<h1>Listing appointments</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
  <thead>
    <tr>
      <th>Physician</th>
      <th>Patient</th>
      <th>Date</th>
      <th>Reason</th>
      <th>Notes</th>
      <th>Diagnostic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.physician.first_name %>
          <%= appointment.physician.last_name %></td>
        <td><%= appointment.patient.first_name %>
          <%= appointment.patient.last_name %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.notes %></td>
        <td><%= appointment.diagnostic.code %></td>
        <td><%= link_to 'Show', appointment, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Printable Receipt (PDF)", appointment_path(appointment, format: "pdf") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  </div>
<br>

<%= link_to 'New Appointment', new_appointment_path %>
