<!DOCTYPE html>
<html>
<head>
  <title>Dermatologist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Patient", patients_path %></li>
        <li><%= link_to "Physician", physicians_path %></li>
        <li><%= link_to "Employee", employees_path %></li>
        <li><%= link_to "Appointment", appointments_path %></li>
        <li><%= link_to "Insurance", insurances_path %></li>
        <li><%= link_to "Invoice", invoices_path %></li>
        <li><%= link_to "Diagnostic", diagnostics_path %></li>
      </ul>
    <%= yield %>
</div>
</body>
</html>
